* {
  box-sizing: border-box;
}

p {
  margin: 0px;
  font-weight: inherit;
}

story-container {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  padding: 5px 0px;
}

content-container {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  width: 100%;
  height: 100%;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 10px;
}

/* apply on initialization */
.thin-layout {
  flex-direction: column;
  justify-content: center;
}

/* apply on initialization */
.wide-layout {
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
}

navbar {
  display: flex;
  align-items: center;
  padding: 5px 8px;
}

navbar ul { 
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: inherit;
  border: none;
  padding: 4px 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 4px;
}

.main-section {
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.invisible {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 2px 0px;
}

.designerImageContainer {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  border: 3px solid #D8DEEB;
  margin-right: 8px;
}

.bullet {
  display: block !important;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #AFA9A9;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 4px 0px;
}

.bulletContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr auto 1fr;
  height: 50px;
  width: auto;
  margin: 0px 7px;
}

.dottedLineContainer {
  display: grid;
  grid-template-columns: 0.625fr 0.375fr;
  height: max-content;
  width: 100%;
  height: 100%;
}

.dottedLine {display: block !important;
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 2px dashed #AFA9A9;
}