<div class="bulletContainer">
  <div class="dottedLineContainer">
    <div class="{{ link1 }} dottedLine"></div>
  </div>
  <div id="{{ bulletId }}" class="bullet"></div>
  <div class="dottedLineContainer">
    <div class="{{ link2 }} dottedLine"></div>
  </div>
</div>
