<div style="
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
">
  <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.20945 6.86188C-0.0698161 7.12254 -0.0698161 7.54385 0.20945 7.80451C0.488715 8.06516 0.940112 8.06516 1.21938 7.80451L4.79055 4.47131C5.06982 4.21066 5.06982 3.78934 4.79055 3.52869L1.21938 0.195492C0.940112 -0.065164 0.488715 -0.065164 0.20945 0.195492C-0.0698161 0.456148 -0.0698161 0.877463 0.20945 1.13812L3.27566 4L0.20945 6.86188Z" fill="#4096CF"/>
  </svg>
</div>