<div style="
  margin-right: 12px;
  display: flex;
  justify-content: center;
  padding-top: 7px;
">
  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="7.5" cy="7.5" r="7.5" fill="#1CAD89"></circle>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.22245 7.57294C4.01906 7.3831 3.68928 7.3831 3.48588 7.57294C3.28249 7.76277 3.28249 8.07056 3.48588 8.2604L6.09005 10.691C6.30105 10.8879 6.64585 10.8794 6.84547 10.6724L11.533 5.81131C11.7254 5.61175 11.7081 5.30439 11.4943 5.12479C11.2804 4.94519 10.9511 4.96137 10.7587 5.16092L6.43844 9.64119L4.22245 7.57294Z" fill="white"></path>
  </svg>
</div>